<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Lexend:wght@200;400;700;900&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="/api/v1/bootstrap?primary=432fd6,3b29c2,614fe855,614fe855" rel="stylesheet">
    <title>@{{;username}} | Fit with Friends</title>
    <link href="/favicon.png" rel="favicon">
    <link href="/favicon.png" rel="icon">
    <link href="/favicon.png" rel="shortcut icon">
    <style>




/* loader */

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    opacity: 0;

}


.loader.show {
    opacity: 1;
}

.loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--bs-primary);
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes loader {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}
</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Fit with Friends</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            {{unauthed}}
            <li class="nav-item">
              <a class="nav-link" href="/signin">Sign In</a>
            </li>
            {{/unauthed}}
            {{authed}}
            <li class="nav-item">
              <a class="nav-link {{:active}}" href="/me">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quit">Log Out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Create a Workout</a>
            </li>
            {{/authed}}
            <li class="nav-item">
              <a class="nav-link" href="/workouts">Workouts</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  <div class="px-4 py-5 my-5 text-left">
    <img class="d-block mb-4" src="{{;avatar}}" alt="" width="72" height="72" style="border-radius: 50%;">
    <h1 class="display-5 fw-bold">@{{;username}}</h1>
    <div class="col-lg-6">
      <p class="lead mb-4">{{;bio}}</p>
      <div class="d-grid gap-2 d-sm-flex">
<!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/users/{{:id}}/workouts"><span style="height:20px;position: relative;top: 0px;/* vertical-align: text-bottom; */padding: 8px 10px;box-sizing: content-box;margin: -10px;color: var(--bs-primary);background-color: white;border-radius: 2px;margin-left: -20px;margin-right: 10px;left: -1px;">24</span> Workouts</a>
<a class="btn btn-primary btn-lg px-4 me-sm-3" href="#follow"><span style="height:20px;position: relative;top: 0px;/* vertical-align: text-bottom; */padding: 8px 10px;box-sizing: content-box;margin: -10px;color: var(--bs-primary);background-color: white;border-radius: 2px;margin-left: -20px;margin-right: 10px;left: -1px;">12</span> Follow</a> -->
      </div>
    </div>
  </div>
    <main role="main" class="container-sm" id="main">
        <div class="quotes">

        </div>
        <center>
          <div class="loader">
              <div></div>
              <div></div>
              <div></div>
          </div>
        </center>
    </main>
    <script>
function timeDiff(current, previous) {

    var msPerMinute = 60 * 1000;
    var msPerHour = msPerMinute * 60;
    var msPerDay = msPerHour * 24;
    var msPerMonth = msPerDay * 30;
    var msPerYear = msPerDay * 365;

    var elapsed = current - previous;

    if (elapsed < msPerMinute) {
         return Math.round(elapsed/1000) + ' seconds ago';   
    }

    else if (elapsed < msPerHour) {
         return Math.round(elapsed/msPerMinute) + ' minutes ago';   
    }

    else if (elapsed < msPerDay ) {
         return Math.round(elapsed/msPerHour ) + ' hours ago';   
    }

    else if (elapsed < msPerMonth) {
        return 'about ' + Math.round(elapsed/msPerDay) + ' days ago';   
    }

    else if (elapsed < msPerYear) {
        return 'about ' + Math.round(elapsed/msPerMonth) + ' months ago';   
    }

    else {
        return 'about ' + Math.round(elapsed/msPerYear ) + ' years ago';   
    }
}

    const quotesEl = document.querySelector('.quotes');
    const loaderEl = document.querySelector('.loader');

    // get the quotes from API
    const getQuotes = async (page, limit) => {
        const API_URL = `https://fitwithfriends.yodacode.repl.co/api/v1/workouts?start=${(page - 1) * 10}&limit=${limit}&author={{:id}}`;
        const response = await fetch(API_URL);
        // handle 404
        if (!response.ok) {
            throw new Error(`An error occurred: ${response.status}`);
        }
        return await response.json();
    }

    // show the quotes
    const showQuotes = (quotes) => {
        quotes.forEach(quote => {
            const quoteEl = document.createElement('blockquote');
            quoteEl.classList.add('quote');
            let id = 'id' + Date.now() + 'ran' + Math.floor(Math.random() * 100);
            quoteEl.innerHTML = `

      <div class="card" style="width: 100%;" id="${id}">
        <div class="card-header bg-primary text-white">HIIT Workout</div>
        <div class="card-body"> 
          <h5 class="card-title">Burpee Blast</h5>
          <a class="profile-link">
          <span style="display: inline-block; height: 30px;">
          <h6 class="card-subtitle mb-2 text-muted" style="vertical-align: middle;"><img src="/favicon.png" style="height: 30px; margin-right: 6px; border: 1px solid black; border-radius: 50%; vertical-align: middle;"><span class="card-author">Fit with Friends</span></h6>
          </span>
          </a>
          <p class="card-text main">Fit with Friends Workout of the Day: September 4th, 2021.</p>
          <p class="card-text"><small class="text-muted time">3 mins ago</small></p>
          <a href="/workouts/${quote._id}" class="btn btn-primary">Start Workout</a>
          <a href="mailto:?subject=Fit%20with%20Friends&body=Check%20out%20this%20workout%20on%20Fit%20with%20Friends!%20https%3A%2F%2Ffitwithfriends.yodacode.repl.co%2Fworkouts%2F${quote._id}" class="btn btn-outline-secondary">Share</a>
        </div>
      </div>
        `;

            quotesEl.appendChild(quoteEl);
            document.querySelector('#' + id + ' > .card-header').innerText = quote.type;
            document.querySelector('#' + id + ' > .card-body > .card-text.main').innerText = quote.description;
            document.querySelector('#' + id + ' > .card-body > .card-title').innerText = quote.title;
            document.querySelector('#' + id + ' > .card-body .card-author').innerText = '@' + quote.author.username;
            document.querySelector('#' + id + ' > .card-body img').src = quote.author.avatar;
            document.querySelector('#' + id + ' > .card-body a.profile-link').href = '/users/' + quote.author.id;
            document.querySelector('#' + id + ' > .card-body small.time').innerText = timeDiff(Date.now(), quote.time);
        });
    };

    const hideLoader = () => {
        loaderEl.classList.remove('show');
    };

    const showLoader = () => {
        loaderEl.classList.add('show');
    };

    const hasMoreQuotes = (page, limit, total) => {
        const startIndex = (page - 1) * limit + 1;
        return total === 0 || startIndex < total;
    };

    // load quotes
    const loadQuotes = async (page, limit) => {

        // show the loader
        showLoader();

        // 0.5 second later
            try {
                // if having more quotes to fetch
                if (hasMoreQuotes(page, limit, total)) {
                    // call the API to get quotes
                    const response = await getQuotes(page, limit);
                    // show quotes
                    showQuotes(response);
                    // update the total
                    total = response.total;
                }
            } catch (error) {
                console.log(error.message);
            } finally {
                hideLoader();
            }

            console.log('got here');
            return true;

    };

    // control variables
    let currentPage = 1;
    const limit = 20;
    let total = 0;
    let finished = true;

    window.addEventListener('scroll', async () => {
      if (finished == false) return;
        const {
            scrollTop,
            scrollHeight,
            clientHeight
        } = document.documentElement;

        if (scrollTop + clientHeight >= scrollHeight - 5 &&
            hasMoreQuotes(currentPage, limit, total)) {
      finished = false;
            currentPage++;
            try {
              await loadQuotes(currentPage, limit);
              finished = true;
            } catch (err) {
              finished = true;
            }
            finished = true;
        }
    }, {
        passive: true
    });

    // initialize
    loadQuotes(currentPage, limit);

</script>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
</html>