<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Lexend:wght@200;400;700;900&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="/api/v1/bootstrap?primary=432fd6,3b29c2,614fe855,614fe855" rel="stylesheet">
    <title>Fit with Friends</title>
    <link href="/favicon.png" rel="favicon">
    <link href="/favicon.png" rel="icon">
    <link href="/favicon.png" rel="shortcut icon">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Fit with Friends</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            {{unauthed}}
            <li class="nav-item">
              <a class="nav-link" href="/signin">Sign In</a>
            </li>
            {{/unauthed}}
            {{authed}}
            <li class="nav-item">
              <a class="nav-link" href="/me">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{:active}}" href="/quit">Log Out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Create a Workout</a>
            </li>
            {{/authed}}
            <li class="nav-item">
              <a class="nav-link" href="/workouts">Workouts</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="px-4 pt-5 my-5 text-center border-bottom" style="height: calc(100% - 100px); overflow: hidden;">
    <h1 class="display-4 fw-bold">{{;name}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{;desc}}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/workouts">Start Workout</a>
        <a class="btn btn-outline-secondary btn-lg px-4" href="/workouts">Publish</a>
      </div>
    </div>
    <div>
      <div class="container px-5">
        <div class="border rounded-3 shadow-lg mb-4" style="overflow-y: scroll;">
<br>
                <h1>10 Curl-Ups</h1>
      <br><br>
                <h1>8 Squats</h1>
      <br><br>
                <h1>6 Burpees</h1>
      <br><br>
                <h1>4 Push-Ups</h1>
      <br><br>
                <h1>20 Second Rest</h1>
      <br><br>
                <p>Repeat</p>

        </div>
      </div>
    </div>
  </div>
    <main role="main" class="container" id="main">
      <h1>Fitness that <u>Works</u></h1>
      <p>Fit with Friends is Fitness meets social media. When you do activities in a group, you're more likely to keep yourselves accountable and always push each other to do more.</p>
      <button class="btn btn-primary">Watch Demo</button>
      <br><br><br><br>
      <h1>Incredible Features</h1>
      <p>Enhance your workout experience with our suite of features including interval timers, share with friends, and workout stream.</p>
      <button class="btn btn-primary">Watch Demo</button>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="/script.js"></script>
    

  </body>
</html>