<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Lexend:wght@200;400;700;900&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="/api/v1/bootstrap?primary=432fd6,3b29c2,614fe855,614fe855" rel="stylesheet">
    <title>Fit with Friends</title>
    <link href="/favicon.png" rel="favicon">
    <link href="/favicon.png" rel="icon">
    <link href="/favicon.png" rel="shortcut icon">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Fit with Friends</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/me">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/workouts">Workouts</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Trending Workouts</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Popular workouts right now</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
  </div>
    <main role="main" class="container-sm" id="main">
      <div class="card" style="width: 100%;">
        <div class="card-header bg-primary text-white">HIIT Workout</div>
        <div class="card-body"> 
          <h5 class="card-title">Burpee Blast</h5>
          <span style="display: inline-block; height: 30px;">
          <h6 class="card-subtitle mb-2 text-muted" style="vertical-align: middle;"><img src="/favicon.png" style="height: 30px; margin-right: 6px; border: 1px solid black; border-radius: 50%; vertical-align: middle;">Fit with Friends</h6>
          </span>
          <p class="card-text">Fit with Friends Workout of the Day: September 4th, 2021.</p>
          <p class="card-text"><small class="text-muted">3 mins ago</small></p>
          <a href="/workouts/{id}" class="btn btn-primary">Start Workout</a>
          <a href="mailto:?subject=Fit%20with%20Friends&body=Check%20out%20this%20workout%20on%20Fit%20with%20Friends!%20https%3A%2F%2Ffitwithfriends.yodacode.repl.co%2Fworkouts%2F{id}" class="btn btn-outline-secondary">Share</a>
        </div>
      </div>
    </main>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



  </body>
</html>